.canvas {
    width: 45vw !important;
}

@media only screen and (max-width: 900px) {
    .canvas {
        width: 82vw !important;
    }
}

.color-picker {
    width: 25px !important;
    height: 25px !important;
    border: 1px solid black !important;
    transition: .2s;
}

.color-picker:hover {
    opacity: .6;
}